@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  --bg-main: #000000;
  --bg-acc: #1D6831;
  --table: #008C3D;
  --txt-01: #b4b4b4;
  --txt-02: #F20732;
}

body {
  background-color: var(--bg-main);
  width: 100vw;
}

header {
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  font-size: 2rem;
  font-family: 'Stalinist One';
  color: var(--txt-02);
}

#scoreboard {
  background-color: var(--bg-acc);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--txt-01);
  min-height: 5vh;
  max-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vmin;
}

#msg {
  justify-content: center;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#userHandSize {
  font-size: 3vmin;
  font-weight: 700;
  font-family: Georgia;
}

#cpuHandSize {
  font-size: 3vmin;
  font-weight: 700;
  font-family: Georgia;
}

#table {
  background-color: var(--table);
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(4, 20vh);
  grid-template-columns: repeat(5, 20vw);
  font-size: 3.5vmin;
}

#cpuHand {
  grid-row: 1;
  grid-column: 4;
  display: flex;
}

#cpuBattleRow {
  width: 100vw;
  grid-row: 2;
  display: flex;
  justify-content: center;
}

#userHand {
  grid-row: 4;
  grid-column: 2;
  display: flex;
}

#userBattleRow {
  width: 100vw;
  grid-row: 3;
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--bg-main);
  min-height: 5vmin;
  max-height: 5vmin;
  display: flex;
  justify-content: center;
  padding: 0.6vmin;
}

#warBtn {
  grid-row: 4;
  grid-column: 3;
  height: 30%;
  font-family: 'Stalinist One';
  font-size: 1.6rem;
  border: 4px dotted var(--table);
  border-radius: 20px;
  padding: 0.1vmin;
}

#replay {
  font-size: 0.8rem;
  border: 4px dotted var(--table);
  border-radius: 20px;
  padding: 0.6vmin;
  pointer-events: ;
}